<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ global.title }}: {{ page.title }}</title>
</head>
<body>
    {{ include 'empty' }}
    <header>
        {{ include 'header' }}
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        {{ include 'footer' }}
    </footer>
</body>
</html>