{
  "headline": "<h1>Ich bin eine Überschrift</h1>",
  "rede": "Er schrie <aaaaah>",
  "smiley": "<O_o>"
}
---
{{ page.headline }}
<hr>
{{{ page.headline }}}
<hr>
{{ page.rede }}
<hr>
{{{ page.rede }}}
<hr>
{{ page.smiley }}
<hr>
{{{ page.smiley }}}