{
  "date": {
    "year": 2018, "month": 10, "day": 13
  }
}
---
<p>
  F체r Europ채er:
  {{ page.date.day }}.{{ page.date.month }}.{{ page.date.year }}
</p>
<p>
  F체r Amerikaner:
  {{ page.date.month }}/{{ page.date.day }}/{{ page.date.year }}
</p>
<p>
  F체r Informatiker:
  {{ page.date.year }}{{ page.date.month }}{{ page.date.day }}
</p>
