{
    "vorname": "Hermine",
    "nachname": "Granger",
    "weiblich": true,
    "geburtsjahr": 1988
}
---
<ul>
  <li>Vorname: {{ page.vorname }}</li>
  <li>Nachname: {{ page.nachname }}</li>
  <li>Weiblich: {{ page.weiblich }}</li>
  <li>Männlich: {{ page.männlich }}</li>
  <li>Geburtsjahr: {{ page.geburtsjahr }}</li>
</li>